// Media Queries

$mq-1000-down: "only screen and (max-width: 999px)";
$mq-1000-up: "only screen and (min-width: 1000px)";

$mq-560-up: "only screen and (min-width: 560px)";
$mq-1440-up: "only screen and (min-width: 1440px)";
$mq-1800-up: "only screen and (min-width: 1800px)";